[submodule "cfn/vpc-with-cloud9"]
	path = cfn/vpc-with-cloud9
	url = https://github.com/jamesbland123/vpc-with-cloud9.git
[submodule "themes/learn"]
	path = themes/learn
	url = https://github.com/jamesbland123/hugo-theme-learn.git
